body{
  background-color: rgb(248, 248, 248);
  font-family: 'Calibri', ssans-seif;
 }
.toolbar {
  background-image: -webkit-linear-gradient(135deg, #2CB5E8, rgb(29, 103, 172));
  height: 10%;
  min-height: 30px;
  box-shadow: 0px 0px 53px -12px rgba(0,0,0,0.75);
  padding: 0.4%;
  color: white
}
.toolbarAddition{
  text-shadow: 1px 1px black;
}