.myDiagramDiv {
  background: whitesmoke;
  width: 800px;
  height: 300px;
  border: 1px solid black;
}

.homeNav{
  font-size: 600%;
}
.mat-toolbar.mat-primary {
  background: #0099ff;
  color: #fff;
}