<mat-toolbar color="primary">
  <mat-toolbar-row>
<!--    <button mat-icon-button>-->
<!--      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
<!--    </button>-->
    <h1>ME-Mapper</h1>
    <span class="menu-spacer"></span>
    <div>
      <span class="mainMenu"><a mat-button [routerLink]="'/login'"> Log In </a></span>
      <span class="mainMenu"><a mat-button [routerLink]="'/oren'"> oren </a></span>
      <span class="mainMenu"><a mat-button [routerLink]="'/saas'"> saar </a></span>

    </div>
  </mat-toolbar-row>

</mat-toolbar>
<router-outlet></router-outlet>
