<html>

<head>
  <title>ME - Mapper</title>
  <script src="https://kit.fontawesome.com/02fbb6f7fc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Shadows+Into+Light" />
</head>

<body>
  <!-- toolbar -->
  <div class="doNotPrint">
    <div class="toolbar">
      <span style="float: left;"><a mat-button [routerLink]="'/openPage'" style="font-size: 25px; font-family: 'Shadows Into Light'">ME-Mapper</a></span>
      <span *ngIf='isLoggedIn()' class="mainMenu" style="font-size: 16px;">
        <!-- <kendo-autocomplete [data]="autoCompleteUserNamesFilterd" [placeholder]="'Search Nodes or Maps..'" [filterable]="true" (filterChange)="autoCompleteHandler($event)" style="width: 200px;">
                  </kendo-autocomplete> -->
      </span>
      <!-- Login -->
      <span style="float: left;" @fade *ngIf='!isLoggedIn()'>
        <app-login></app-login>
      </span>

      <!-- Search bar -->
      <span style="float: left; padding-top: 10px;" @fade *ngIf='isLoggedIn()'>
        <span>
          <input type="search" placeholder="Search Nodes / Maps" [(ngModel)]="inputTextSearch"
            (keyup.enter)="searchNodesAndMaps()">
          <div id="searchResultDiv" *ngIf="this.inputTextSearch !='' && showSearchResults && showPopDiv"
            style="width: 450px;" (clickOutside)="closeSearchDiv($event)">
            <span style="width: 450px; font-size: 23px; margin-bottom: 6px; color: gray;"><b>Nodes:</b></span>
            <div *ngFor="let node of searchResults[0]" class="result" style="margin-bottom: 5px;">
              <span style="width:100%" (click)="goToResult(node, 'node')"><span class="k-icon k-i-front-element"
                  style="font-size: 15px; color: gray;"></span><span
                  style="margin-left: 5px;"><b>{{node.nodeText}}</b></span><span
                  style="margin-left: 5px;font-size: 13px">in map : "{{node.MapName}}"</span></span>
            </div>
            <div *ngIf="searchResults[0].length == 0" style="padding: 5%;">
              <b> No Results </b>
            </div>
            <span
              style="width: 450px; font-size: 23px; padding-top: 23px; margin-bottom: 6px; color: gray;"><b>Maps:</b></span>
            <div *ngFor="let map of searchResults[1]" class="result" style="margin-bottom: 5px;">
              <span (click)="goToResult(map, 'map')"><span class="k-icon k-i-table-align-middle-center"
                  style="font-size: 15px; color: gray;"></span><span
                  style="margin-left: 5px;"><b>{{map.MapName}}</b></span><span
                  style="margin-left: 5px;font-size: 13px">{{map.MapDescription}}</span></span>
            </div>
            <div *ngIf="searchResults[1].length == 0" style="padding: 5%;">
              <b> No Results </b>
            </div>
          </div>
        </span>
      </span>
      <span *ngIf='isLoggedIn()' matTooltip="Managment Page" class="mainMenu"><a mat-button
          [routerLink]="'/logedHome'"><span class="k-icon k-i-toggle-full-screen-mode"></span></a></span>
      <!-- Right menu buttons -->
      <span @fade style="float: right; position: relative;">
        <!--right side buttons-->
        <span *ngIf='isLoggedIn()' class="mainMenu" style="font-size: 16px;">Hi {{fullName}}!</span>
        <span *ngIf='isLoggedIn()' matTooltip="Edit Profile" class="mainMenu"><a mat-button
            [routerLink]="'/changeUserInfo'"><span class="k-icon k-i-user"></span></a></span>
        <span *ngIf='isLoggedIn()' matTooltip="Log Out" class="mainMenu"><a mat-button (click)="logOut()"
            [routerLink]="'/openPage'"><span class="k-icon k-i-logout"></span></a></span>
      </span>
    </div>
  </div>

  <!-- search results -->

  <!-- content -->
  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>