<div class="register" style="margin-top: 5%; height: 800px">
    <h1 class="registerTitle" style="text-align: center;">Registration</h1>
    <form class="form-style-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

            <label class="form-lbl">Email address:</label>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email address is required</div>
                <div *ngIf="f.email.errors.email">Please insert a valid email address</div>
            </div>

            <label class="form-lbl">Password:</label>
            <input type="text" class="form-control" formControlName="password">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must have at least 6 characters</div>
            </div>

            <label class="form-lbl">First name:</label>
            <input type="text" class="form-control" formControlName="firstName">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First name is required</div>
            </div>

            <label class="form-lbl">Last name:</label>
            <input type="text" class="form-control" formControlName="lastName">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last name is required</div>
            </div>

            <input type="submit" value="Register" class="form-control">
        </div>
    </form>
</div>