<div>
    <mat-tab-group id="nodeMenu" (selectedTabChange)="tabClick($event)">
        <mat-tab label="Details">
            <div class="tab-content">
                <table id="detailsTable" class="table table-hover borderless table-vcenter">
                    <tbody>
                        <tr>
                            <td>Text:</td>
                            <td>
                                <input type="text" id="textFeature" class="form-control" name="objectText"
                                    [(ngModel)]="this.modalService.currNodeData.text">
                            </td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>
                                <textarea id="descriptionFeature" name="objectDescription" class="form-control"
                                    cols="30" rows="5"
                                    [(ngModel)]="this.modalService.currNodeData.description"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="References">
            <div class="tab-content" style="width: max-content;">
                <!-- node refs -->
                <span id="nodeRefsSpan" style="float: left;">
                    <!-- filter node refs -->
                    <div class="filterAndClear">
                        <span style="float: left; width: 70%;">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilterNodeRefs($event)">
                            </mat-form-field>
                        </span>
                        <span style="float: right; ">
                            <button mat-raised-button (click)="this.nodeRefSelection.clear()">Clear
                                Selection</button>
                        </span></div>
                    <!-- node refs table -->
                    <table id="nodeRefsTbl" mat-table [dataSource]="nodeRefSource" class="mat-elevation-z0">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <tr>
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle('nodeRefs') : null"
                                        [checked]="nodeRefSelection.hasValue() && isAllSelected('nodeRefs')"
                                        [indeterminate]="nodeRefSelection.hasValue() && !isAllSelected('nodeRefs')">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? nodeRefSelection.toggle(row) : null"
                                        [checked]="nodeRefSelection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Publication">
                            <th mat-header-cell *matHeaderCellDef> Publication </th>
                            <td mat-cell *matCellDef="let element"> {{element.Publication}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Link">
                            <th mat-header-cell *matHeaderCellDef> Link </th>
                            <td mat-cell *matCellDef="let element"> {{element.Link}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="CreationTime">
                            <th mat-header-cell *matHeaderCellDef> Creation Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.CreationTime}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRefs"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRefs;"
                            (click)="nodeRefSelection.toggle(row)">
                        </tr>


                    </table>
                    <div style="position: relative; bottom: 0;">
                        <span style="float: left;">
                            <mat-paginator #nodeRefsPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </span>
                    </div>
                </span>
                <!-- all refs  -->
                <span id="allRefsSpan" style="float: right;" [hidden]="!this.doShowAllRefs">
                    <!-- filter -->
                    <div class="filterAndClear">
                        <span style="float: left; width: 70%;">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilterAllRefs($event)">
                            </mat-form-field>
                        </span>
                        <span style="float: right; ">
                            <button mat-raised-button (click)="this.allRefSelection.clear()">Clear
                                Selection</button>
                        </span></div>
                    <!-- all refs table -->
                    <table id="allRefsTbl" mat-table [dataSource]="allRefSource" class="mat-elevation-z0">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <tr>
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle('allRefs') : null"
                                        [checked]="allRefSelection.hasValue() && isAllSelected('allRefs')"
                                        [indeterminate]="allRefSelection.hasValue() && !isAllSelected('allRefs')">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? allRefSelection.toggle(row) : null"
                                        [checked]="allRefSelection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Publication">
                            <th mat-header-cell *matHeaderCellDef> Publication </th>
                            <td mat-cell *matCellDef="let element"> {{element.Publication}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Link">
                            <th mat-header-cell *matHeaderCellDef> Link </th>
                            <td mat-cell *matCellDef="let element"> {{element.Link}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="CreationTime">
                            <th mat-header-cell *matHeaderCellDef> Creation Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.CreationTime}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRefs"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRefs;"
                            (click)="allRefSelection.toggle(row)">
                        </tr>


                    </table>
                    <div style="position: relative; bottom: 0;">
                        <span style="float: right;">
                            <mat-paginator #allRefsPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </span>
                    </div>
                </span>
                <!-- menu between tables refs -->
                <span style="float: right; margin: 5px;">
                    <div class="refBtn"><button mat-raised-button (click)="showAllRefs()">{{btnShowAllRefs}}</button>
                    </div>
                    <div class="refBtn"><button mat-raised-button [disabled]="this.allRefSelection.selected.length == 0"
                            (click)="addRefToNode()">Add Reference</button></div>
                    <div class="refBtn"><button mat-raised-button
                            [disabled]="this.nodeRefSelection.selected.length == 0" (click)="removeRefToNode()">Remove
                            Reference</button>
                    </div>
                    <div class="refBtn"><button mat-raised-button (click)="openNewRefModal('newRefModal')">Create New
                            Reference</button></div>

                </span>
            </div>
        </mat-tab>

        <!-- contexts tab -->
        <mat-tab label="Contexts">
            <div class="tab-content" style="width: max-content;">
                <!-- node ctxs -->
                <span id="nodeCtxsSpan" style="float: left;">
                    <!-- filter -->
                    <div class="filterAndClear">
                        <span style="float: left; width: 70%;">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilterNodeCtxs($event)">
                            </mat-form-field>
                        </span>
                        <span style="float: right; ">
                            <button mat-raised-button (click)="this.nodeCtxsSelection.clear()">Clear
                                Selection</button>
                        </span></div>
                    <!-- node ctxs table -->
                    <table id="nodeCtxsTbl" mat-table [dataSource]="nodeCtxsSource" class="mat-elevation-z0">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <tr>
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle('nodeCtxs') : null"
                                        [checked]="nodeCtxsSelection.hasValue() && isAllSelected('nodeCtxs')"
                                        [indeterminate]="nodeCtxsSelection.hasValue() && !isAllSelected('nodeCtxs')">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? nodeCtxsSelection.toggle(row) : null"
                                        [checked]="nodeCtxsSelection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                        </ng-container>

                        <!-- creation time Column -->
                        <ng-container matColumnDef="CreationTime">
                            <th mat-header-cell *matHeaderCellDef> Creation Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.CreationTime}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCtxs"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCtxs;"
                            (click)="nodeCtxsSelection.toggle(row)">
                        </tr>


                    </table>
                    <div style="position: relative; bottom: 0;">
                        <span style="float: left;">
                            <mat-paginator #nodeCtxsPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>
                        </span>
                    </div>
                </span>
                <!-- all ctxs -->
                <span id="allCtxsSpan" style="float: right;" [hidden]="!this.doShowAllCtxs">
                    <div class="filterAndClear">
                        <span style="float: left; width: 70%;">
                            <mat-form-field>
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilterAllCtxs($event)">
                            </mat-form-field>
                        </span>
                        <span style="float: right; ">
                            <button mat-raised-button (click)="this.allCtxsSelection.clear()">Clear
                                Selection</button>
                        </span></div>
                    <!-- all ctxs table -->
                    <table id="allCtxsTbl" mat-table [dataSource]="allCtxsSource" class="mat-elevation-z0">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <tr>
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle('allCtxs') : null"
                                        [checked]="allCtxsSelection.hasValue() && isAllSelected('allCtxs')"
                                        [indeterminate]="allCtxsSelection.hasValue() && !isAllSelected('allCtxs')">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? allCtxsSelection.toggle(row) : null"
                                        [checked]="allCtxsSelection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="Title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="CreationTime">
                            <th mat-header-cell *matHeaderCellDef> Creation Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.CreationTime}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCtxs"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCtxs;"
                            (click)="allCtxsSelection.toggle(row)">
                        </tr>


                    </table>
                    <div style="position: relative; bottom: 0;">
                        <span style="float: right;">
                            <mat-paginator #allCtxssPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                            </mat-paginator>

                        </span>

                    </div>
                </span>
                <!-- menu between tables ctxs -->
                <span style="float: right; margin: 5px;">
                    <div class="refBtn"><button mat-raised-button (click)="showAllCtxs()">{{btnShowAllCtxs}}</button>
                    </div>
                    <div class="refBtn"><button mat-raised-button
                            [disabled]="this.allCtxsSelection.selected.length == 0" (click)="addCtxsToNode()">Add
                            Contexts</button></div>
                    <div class="refBtn"><button mat-raised-button
                            [disabled]="this.nodeCtxsSelection.selected.length == 0" (click)="removeCtxsToNode()">Remove
                            Contexts</button>
                    </div>
                    <div class="refBtn"><button mat-raised-button (click)="openNewCtxModal('newCtxModal')">Create New
                            Contexts</button></div>
                    <!-- <div class="refBtn"><button mat-raised-button (click)="openNewRefModal('newRefModal')">Create New
                            Reference</button></div> -->

                </span>
            </div>
        </mat-tab>
        <mat-tab label="Styles">
            <div>
                <table (change)="setNodeStyles()">
                    <tr>
                        <td>Shape Color:</td>
                        <td><input type="color" [(ngModel)]="shapeColor" /></td>
                    </tr>
                    <tr>
                        <td>Border Color:</td>
                        <td><input type="color" [(ngModel)]="borderColor" /></td>
                    </tr>
                    <tr>
                        <td>Border Thickness:</td>
                        <td>
                            <!-- <mat-form-field>
                                <mat-label>Favorite food</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </td>
                    </tr>
                </table>

                <div>{{test}}</div>
            </div>

            <!-- <input type="button" [(colorPicker)]="color" [style.background]="color" /> -->
        </mat-tab>
        <mat-tab label="Third"> Content 6 </mat-tab>
    </mat-tab-group>


</div>

<!-- create new ref modal -->
<jw-modal class="jw-modal" id="newRefModal">
    <div ngDraggable [ngResizable]='true' class="jw-modal-body">
        <span class="close" (click)="closeNewRefModal('newRefModal')">&times;</span>
        <div class="new-ref-modal-form">
            <form [formGroup]="newRefForm" (ngSubmit)="addNewRef()">
                <h1>Create New Reference</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Authors</mat-label>
                    <input matInput formControlName="authors">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Publication
                    </mat-label>
                    <input matInput formControlName="publication">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Link
                    </mat-label>
                    <input matInput formControlName="link">
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button>Add</button>
            </form>
        </div>
    </div>
</jw-modal>

<!-- create new ctx modal -->
<jw-modal class="jw-modal" id="newCtxModal">
    <div ngDraggable [ngResizable]='true' class="jw-modal-body">
        <span class="close" (click)="closeNewCtxModal('newCtxModal')">&times;</span>
        <div class="new-ref-modal-form">
            <form [formGroup]="newCtxForm" (ngSubmit)="addNewCtx()">
                <h1>Create New Context</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button>Add</button>
            </form>
        </div>
    </div>
</jw-modal>