table {
    width: 100%;
    height: 100%;
}

.mat-tab-lable {
    justify-content: center;
    text-align-last: center;
    /* width: 20%; */
    display: flex;
}

.tab-content {
    align-items: center;
    /* justify-content: space-around; */
    /* display: flex; */
    width: 95%;
    height: 95%;
    padding: 15px;
    /* border: solid; */
    overflow: auto;
}

/* .mat-header-cell.mat-column-position {
    direction: rtl;
} */

::ng-deep .mat-sort-header-container {
    justify-content: center;
}

h3 {
    text-align: center;
    line-height: 20px;
    font-size: medium;
}

.filterAndClear {
    /* margin-top: 15px; */
    width: 90%;
    padding: 2%;
}

.mat-header-cell {
    min-width: 60px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    font-size: 15px;
}

.mat-raised-button {
    width: max-content;
    height: fit-content;
}

.mat-form-field {
    font-size: 18px;
    /* width: 100%; */
}

#nodeRefsSpan, #allRefsSpan {
    /* padding: 2%; */
    margin-top: 5px;
}

.small-menu-option {
    margin: 15px;
}

.upperMenu {
    width: 100%;
    /* align-content: center;    */
    height: min-content;
}

.jw-modal {
    display: none;
    position: fixed;
    padding: 100px;
    /* left: 0; */
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    z-index: 9998!important;
    line-height: 10pt;
}

.jw-modal-body {
    text-align: center;
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: max-content;
    width: max-content;
    height: 100%;
    font-family: 'Calibri', sans-seif;
    border-radius: 25px;
    line-height: 10pt;
    overflow: auto;
}

.close {
    line-height: 10pt;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}