<mat-tab-group id="nodeMenu">
    <mat-tab label="Details">
        <table id="detailsTable" class="table table-hover borderless table-vcenter">
            <tbody>
                <tr>
                    <td>Text:</td>
                    <td>
                        <input type="text" id="textFeature" class="form-control" name="objectText" [(ngModel)]="this.modalService.currNodeText">
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>
                        <textarea id="descriptionFeature" name="objectDescription" class="form-control" cols="50" rows="5" [(ngModel)]="this.modalService.currNodeDescription"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>

    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>