table {
    width: 100%;
    text-align-last: center;
    /* table-layout:fixed; */
}

tbody {
    margin: 10px;
}

.mat-header-cell {
    min-width: 60px;
    /* border: solid; */
    text-align: center;
}

.refBtn {
    margin: 5px;
}

.tab-content {
    margin: 10px;
}
.mat-raised-button{
    /* padding: 10px 100%; */
    width: min-content;
    height: min-content;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }