<mat-tab-group id="nodeMenu">
    <mat-tab label="Details">
        <table id="detailsTable" class="table table-hover borderless table-vcenter">
            <tbody>
                <tr>
                    <td>Text:</td>
                    <td>
                        <input type="text" id="textFeature" class="form-control" name="objectText"
                            [(ngModel)]="this.modalService.currNodeText">
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>
                        <textarea id="descriptionFeature" name="objectDescription" class="form-control" cols="50"
                            rows="5" [(ngModel)]="this.modalService.currNodeDescription"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>

    </mat-tab>
    <mat-tab label="References">
        <div class="refTable">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <tr>
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </tr>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Publication">
                <th mat-header-cell *matHeaderCellDef> Publication </th>
                <td mat-cell *matCellDef="let element"> {{element.Publication}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Link">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let element"> {{element.Link}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="CreationTime">
                <th mat-header-cell *matHeaderCellDef> Creation Time </th>
                <td mat-cell *matCellDef="let element"> {{element.CreationTime}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>


        </table></div>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
       
    </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>