<div>
    <div>
        <mat-tab-group>
            <mat-tab label="Owner Groups ({{totalGroupsNumber}}):">
            </mat-tab>
            <mat-tab label="Manager Groups ({{totalGroupsNumber}}):">
            </mat-tab>
            <mat-tab label="Member Groups ({{totalGroupsNumber}}):">
            </mat-tab>
        </mat-tab-group>

    </div>
    <div style="padding-left: 25px; margin: auto; text-align: center;">
        <table style="width: 100%; color: rgb(196, 196, 196); margin: auto; font-size: 12px;">
            <tr>
                <td><span class="k-icon k-i-pencil"></span> Edit Group</td>
                <td><span class="k-icon k-i-delete"></span> Delete file</td>
                <td (click)="modalService.open('addGroupModal');"><span class="k-icon k-i-plus"
                        style="cursor: pointer;"></span> Add new group</td>
            </tr>
        </table>
    </div>

    <div style="padding-top: 5%;">
        <div style="padding-left: 25px; padding-bottom: 5px;">
            <span><input #category  placeholder="Search folders or maps.." /></span>
            <span  style="font-size: 14px; font-family: 'Calibri', ssans-seif;"><b><i> No results</i></b></span>
            </div>
        <kendo-treeview [nodes]="groupsArray" textField="text" childrenField="items" [animate]="true">
            <ng-template kendoTreeViewNodeTemplate let-dataItem>
                <span class="k-icon k-i-myspace"></span><!-- ICON-->
                <span style="margin-right: 10px;">{{dataItem.text}}</span><!-- text-->
                <span style="margin-right: 10px; font-size: 10px;"><i>{{dataItem.GroupDescription}}</i></span>
                <!-- description-->
                <span style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-pencil"
                    title="Edit group '{{dataItem.text}}'" (click)="this.openEditGroupModal(dataItem);"></span>
                <!-- edit-->
                <span style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-delete"
                    title="Permanently delete group '{{dataItem.text}}'" (click)="deleteGroup(dataItem);"></span>
                <!-- delete-->
            </ng-template>
        </kendo-treeview>

        <div *ngIf="totalGroupsNumber == 0"
            style="margin-top: 20%; color: rgb(196, 196, 196); width: 100%; font-size: 20px; text-align: center;">
            <span><i>You Don't Have Any Group.</i></span>
            <br><span style="font-size: 13px; text-align: center;">Click on add button to create one</span></div>


    </div>

    <!-- add group modal-->
    <jw-modal class="jw-modal" id="addGroupModal">
        <div ngDraggable [ngResizable]='true' class="jw-modal-body">
            <span class="close" (click)="closeModal_addGroup()">&times;</span>
            <div>
                <h2>Add New Group</h2>
                <div style="font-size: 13px;">Please insert group name (required. name "/" invalid), and some
                    description (required)</div>
                <br><br>
                <form [formGroup]="addGroupCheckOut" (ngSubmit)="createGroup()">
                    <div>
                        <label>Group Name: </label>
                        <input id="groupName" type="text" formControlName="groupName" placeholder="Enter group name">
                    </div>
                    <div>
                        <label>Description: </label>
                        <textarea id="description" formControlName="description" rows="4" cols="50"
                            placeholder="Add some Description"></textarea>
                    </div>
                    <br><br>
                    <input type="submit" value="Add Group">
                    <div [innerHTML]="formErrors" style="font-size: 12px; color: red;"></div>
                </form>
            </div>
        </div>
    </jw-modal>

    <!--Edit group-->

    <!-- Permisssions modal -->
    <jw-modal class="jw-modal" id="editGroupModal">
        <div ngDraggable class="jw-modal-body">
            <span class="close" (click)="closeModal_editGroup()">&times;</span>
            <!-- <span><h2>Permissions Management for "{{selectedNode.text}}" Group:</h2></span> -->
            <br><br>
            <div>
                <kendo-grid [data]="this.groupsPermissionList" [height]="533" [sortable]="true" [navigable]="true"
                    [resizable]="true" style="max-width:inherit;" (add)="AddNewRow($event)"
                    (save)="addNewUserPermission($event)" (remove)="openUserPerimssionDialog($event)"
                    (cancel)="cancelHandler($event)">

                    <ng-template kendoGridToolbarTemplate>
                        <button kendoGridAddCommand>Add User To Group</button>
                        <button class='k-button' (click)="savePermissionChanges()"
                            [disabled]="!this.isPermissionChanged"><span
                                [ngStyle]="isPermissionChanged?{'font-weight': 'bold'} : {'font-weight': 'normal'}">Save
                                Changes</span></button>
                        <!-- <button class='k-button' (click)="undoAllChangesClick()" [disabled] = "!isPermissionChanged">Undo Changes</button> -->
                        <p *ngIf="isPermissionChanged" style="text-align: center; color:green"><b><i>You have unsaved
                                    changes.</i></b></p>
                    </ng-template>

                    <!--userName column-->
                    <kendo-grid-column field="Username" title="Username (E-mail)" [width]="120"
                        [minResizableWidth]="100"></kendo-grid-column>
                    <!--name column-->
                    <kendo-grid-column field="FullName" title="Full name" [width]="120" [minResizableWidth]="100">
                    </kendo-grid-column>

                    <!-- permission column -->
                    <kendo-grid-column field="read" title="Member" [width]="70" [minResizableWidth]="50">
                        <ng-template kendoGridCellTemplate let-dataItem let let-rowIndex="rowIndex">
                            <input type="radio" [checked]="dataItem.Permission=='Member'"
                                [disabled]="dataItem.Username == '' " name="{{dataItem.Username}}" id="Member"
                                (change)="radioButtonsUpdate($event,rowIndex)" />
                        </ng-template>
                    </kendo-grid-column>


                    <kendo-grid-column field="write" title="Manager" [width]="70" [minResizableWidth]="50">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <input type="radio" [checked]="dataItem.Permission=='Manager'"
                                [disabled]="dataItem.Username == '' " name="{{dataItem.Username}}" id="Manager"
                                (change)="radioButtonsUpdate($event,rowIndex)" />
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="owner" title="Owner" [width]="70" [minResizableWidth]="50">
                        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                            <input type="radio" [checked]="dataItem.Permission=='Owner'"
                                [disabled]="dataItem.Username == '' " name="{{dataItem.Username}}" id="Owner"
                                (change)="radioButtonsUpdate($event,rowIndex)" />
                        </ng-template>
                    </kendo-grid-column>

                    <!-- actions column -->
                    <kendo-grid-command-column title="Actions" width="160">
                        <ng-template kendoGridCellTemplate let-isNew="isNew">
                            <button kendoGridRemoveCommand>Remove User From List</button>
                            <button kendoGridSaveCommand [disabled]="this.newUserPermissionChoice == null">Add</button>
                            <button kendoGridCancelCommand>Cancel</button>
                        </ng-template>
                    </kendo-grid-command-column>
                </kendo-grid>

                <!-- remove user dialog -->
                <kendo-dialog title="Please confirm" *ngIf="this.userDeleteDialogOpened"
                    (close)="closeUserPerimssionDialog('no')" [minWidth]="250" [width]="450">
                    <p style="margin: 30px; text-align: center;">Are you sure you want to remove
                        {{ userToDelete.dataItem.Username }} from group?</p>
                    <kendo-dialog-actions>
                        <button class='k-button' (click)="closeUserPerimssionDialog('no')">No</button>
                        <button class='k-button k-primary' (click)="closeUserPerimssionDialog('yes')"
                            primary="true">Yes. Remove {{userToDelete.dataItem.Username}} from group.</button>
                    </kendo-dialog-actions>
                </kendo-dialog>
            </div>
        </div>
    </jw-modal>
</div>