<div>
    <div>
        <mat-tab-group>
            <mat-tab label="Groups ({{this.groupsArray[0].items.length + this.groupsArray[1].items.length + this.groupsArray[2].items.length}}):">
            </mat-tab>
        </mat-tab-group>

    </div>
    <div style="padding-left: 25px; margin: auto; text-align: center;">
        <table style="width: 100%; color: rgb(196, 196, 196); margin: auto; font-size: 12px;">
            <tr>
                <td><span class="k-icon k-i-pencil"></span> Edit Group</td>
                <td><span class="k-icon k-i-delete"></span> Delete file</td>
                <td><span><mat-icon>group_add</mat-icon></span>Add new group</td>
            </tr>
        </table>
    </div>

    <div style="padding-top: 5%;">
        <div style="padding-left: 25px; padding-bottom: 5px;">

            <!-- delete dialog configuration -->
            <kendo-dialog title="Please confirm" *ngIf="deleteDialogOpened" (close)="closeDialog('cancel')"
            [minWidth]="250" [width]="450">
            <p style="margin: 30px; text-align: center;">Are you sure you want to delete group
                "{{fileToDelete.text}}"?</p>
            <p style="margin: 30px; text-align: center; color:red">Note! 
                All permissions granted to group members for maps will remain the same, but the group will cease to exist and stop appearing for them under their "Groups"</p>
            <kendo-dialog-actions>
                <button kendoButton (click)="closeDialog('no')">No</button>
                <button kendoButton (click)="closeDialog('yes')" primary="true">Delete This
                    Group</button>
            </kendo-dialog-actions>
        </kendo-dialog>


            <span><input #category [(ngModel)]="groupsArray[0].items" placeholder="Search Groups.." /></span>
            <span  style="font-size: 14px; font-family: 'Calibri', ssans-seif;"><b><i> No results</i></b></span>
            </div>
        <kendo-treeview [nodes]="groupsArray" textField="text" childrenField="items" [animate]="true" [expandBy]="'text'"
        kendoTreeViewExpandable kendoTreeViewHierarchyBinding childrenField="items" [children]="children" [hasChildren]="hasChildren" [animate]="true" [expandBy]="'text'" [(expandedKeys)]="expandedKeys"
        (collapse)="handleCollapse($event)" (expand)="handleExpand($event)">
            <ng-template kendoTreeViewNodeTemplate let-dataItem>
                <span (mouseenter)="mouseOverNodeChanger(dataItem)" (mouseleave)="mouseOverNodeChanger(null)">
                    <mat-icon *ngIf="dataItem.isTitle == null" style="margin-right: 10px;">people_alt</mat-icon>
                    <span *ngIf="dataItem.isTitle == null" style="margin-right: 10px; cursor: pointer;" (click)="this.openModalWithDataItem(dataItem,'permissionGroupModal');">{{dataItem.text}}</span><!-- group Item -->
                    <span *ngIf="dataItem.isTitle != null" style="font-size: 110%;"><b>{{dataItem.text}}</b> ({{dataItem.items.length}})</span><!-- group title -->
                    <span *ngIf="dataItem.isTitle == null" style="margin-right: 10px; font-size: 10px;"><i>{{dataItem.GroupDescription}}</i></span>
                    <!-- description-->
                    <span style="margin: 5px;" *ngIf="mouseOverNode==dataItem">
                        <!-- title options -->
                        <span *ngIf="dataItem.isTitle != null && dataItem.text=='Owner Groups'">
                            <mat-icon (click)="modalService.open('addGroupModal');" style="cursor: pointer;margin-right: 10px;">group_add</mat-icon><!--add new group-->
                            <span style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-delete"
                            title="Permanently delete group '{{dataItem.text}}'" (click)="openDialog(dataItem);"></span><!-- delete title-->
                        </span>
                        <span *ngIf="dataItem.isTitle == null">
                            <span *ngIf="dataItem.permission == 'Owner'" style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-pencil"
                                title="Edit group '{{dataItem.text}}' description" (click)="this.openModalWithDataItem(dataItem,'editPropertiesGroupModal');"></span><!-- edit description-->
                            <span *ngIf="dataItem.permission == 'Owner'" style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-delete"
                                title="Permanently delete group '{{dataItem.text}}'" (click)="openDialog(dataItem);"></span><!-- delete-->
                        </span>
                    </span>
                </span>
            </ng-template>
        </kendo-treeview>

        <div *ngIf="totalGroupsNumber == 0"
            style="margin-top: 20%; color: rgb(196, 196, 196); width: 100%; font-size: 20px; text-align: center;">
            <span><i>You Don't Have Any Group.</i></span>
            <br><span style="font-size: 13px; text-align: center;">Click on add button to create one</span></div>


    </div>

    <!-- add group modal-->
    <jw-modal class="jw-modal" id="addGroupModal">
        <div ngDraggable [ngResizable]='true' class="jw-modal-body">
            <span class="close" (click)="closeModal('addGroupModal')">&times;</span>
            <div>
                <h2>Add New Group</h2>
                <div style="font-size: 13px;">Please insert group name (required) and some description (required)</div>
                <br><br>
                <form [formGroup]="addGroupCheckOut" (ngSubmit)="createGroup()">
                    <div>
                        <label>Group Name: </label>
                        <input id="groupName" type="text" formControlName="groupName" placeholder="Enter group name">
                    </div>
                    <div>
                        <label>Description: </label>
                        <textarea id="description" formControlName="description" rows="4" cols="50"
                            placeholder="Add some Description"></textarea>
                    </div>
                    <br><br>
                    <input type="submit" value="Add Group">
                    <div *ngIf="ErrPreSubmitDuplicateNames" style="font-size: 12px; color: red;">Unfortunately, a group with this name already exists. Choose diffrent name</div>
                    <div *ngIf="ErrPreSubmit" style="font-size: 12px; color: red;">Fields must contains at least one character!</div>
                </form>
            </div>
        </div>
    </jw-modal>

    <!--Edit group-->
    <jw-modal class="jw-modal" id="editPropertiesGroupModal">
        <div [ngResizable]='true' class="jw-modal-body">
            <span class="close" (click)="closeModal('editPropertiesGroupModal')">&times;</span>
            <div>

                <h2>Properties "{{selectedNode.text}}":</h2>
                <div style="font-size: 13px;">Please click on fields you would like to change and press Update.</div>
                <br><br>
                <form [formGroup]="editPropertiesCheckOut" (ngSubmit)="onSubmit_editProperties()">
                    <div>
                        <table style="width: 100%;">
                            <tr>
                                <td style="text-align: left; padding: 10px;background-color: rgb(245, 244, 244);">
                                    <b><label>Group Name: </label></b></td>
                                <td style="background-color: rgb(245, 244, 244); min-width: 90%;" *ngIf="!changeFileName">
                                    {{this.selectedNode.text}}</td>
                                <td style="background-color: rgb(245, 244, 244); min-width: 90%;" *ngIf="changeFileName">
                                    <input id="fileName" type="text" formControlName="fileName"
                                    value="{{selectedNode.text}}"></td>
                                <td style="background-color: rgb(245, 244, 244);" *ngIf="!changeFileName"><span
                                        (click)="changeFileName= !changeFileName"
                                        [ngClass]="changeFileName ? 'true' : 'false'"
                                        style="cursor: pointer;"><i><u>(Click To Change)</u></i></span></td>
                                <td style="background-color: rgb(245, 244, 244);" *ngIf="changeFileName"><span
                                        (click)="changeFileName= !changeFileName"
                                        [ngClass]="changeFileName ? 'true' : 'false'"
                                        style="cursor: pointer;"><i><u>(Don't Change)</u></i></span></td>

                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 10px;background-color: rgb(245, 244, 244);">
                                    <b><label>Group Description: </label></b></td>
                                <td style="background-color: rgb(245, 244, 244);" *ngIf="!changeDescription">
                                    {{selectedNode.GroupDescription}}</td>
                                <td style="background-color: rgb(245, 244, 244);" *ngIf="changeDescription"><textarea
                                        formControlName="description" rows="4" cols="50"
                                        value="{{selectedNode.GroupDescription}}"></textarea></td>
                                <td style="background-color: rgb(245, 244, 244);" *ngIf="!changeDescription"><span
                                        (click)="changeDescription= !changeDescription"
                                        [ngClass]="changeDescription ? 'true' : 'false'"
                                        style="cursor: pointer;"><i><u>(Click To Change)</u></i></span></td>
                                <td style="background-color: rgb(245, 244, 244);" *ngIf="changeDescription"><span
                                        (click)="changeDescription= !changeDescription"
                                        [ngClass]="changeDescription ? 'true' : 'false'"
                                        style="cursor: pointer;"><i><u>(Don't Change)</u></i></span></td>

                            </tr>
                        </table>



                    </div>
                    <br><br>
                    <input type="submit" value="Update Details">
                    <div *ngIf="ErrPreSubmitDuplicateNames" style="font-size: 12px; color: red;">Unfortunately, a group with this name already exists. Choose diffrent name</div>
                    <div *ngIf="ErrPreSubmit" style="font-size: 12px; color: red;">Fields must contains at least one character!</div>
                </form>

            </div>

        </div>
    </jw-modal>


        <!--Edit group-->
        <jw-modal class="jw-modal" id="permissionGroupModal">
            <div [ngResizable]='true' class="jw-modal-body">
                <span class="close" (click)="closeModal('permissionGroupModal')">&times;</span>
                <span style="font-size: 25px"><b><mat-icon style="margin-right: 10px;">people_alt</mat-icon>Group "{{selectedNode.text}}":</b></span>
                    <h4>{{selectedNode.GroupDescription}}</h4>
                    <div style="font-size: 14px;" ><b>Your Permission in this group: </b>{{watcherPermission}}<br><br>Here you can see groups memebers and their permissions for this groups.<br><br></div>
                    <div>
                    <!-- (cancel)="cancelHandler($event)" (add)="openNewRow($event)"
                    (save)="addNewUserToPermission($event)" (remove)="openUserPerimssionDialog($event)" -->
                    <kendo-grid [data]="currPermissionMapDATA" [height]="533" [sortable]="true"
                    [navigable]="true" [resizable]="true" style="max-width:inherit;">
                    <ng-template kendoGridToolbarTemplate *ngIf="!ownerCheck()">
                        <button class='k-button'>Add New User</button>
                        <!-- <button class='k-button' (click)="saveAllChangesClick()"
                            [disabled]="!deleteUsersChange && updatePermissionUsers.length == 0"><span
                                [ngStyle]="deleteUsersChange?{'font-weight': 'bold'} : {'font-weight': 'normal'}">Save
                                Changes</span></button>
                        <button class='k-button' (click)="undoAllChangesClick()"
                            [disabled]="!deleteUsersChange && updatePermissionUsers.length == 0">Undo All
                            Changes</button>
                        <p *ngIf="deleteUsersChange || updatePermissionUsers.length != 0"
                            style="text-align: center; color:green"><b><i>Some Changes Are waiting To Been Saved! dont Forget to save them before you leave</i></b></p>
                        <p *ngIf="userNotFound"
                            style="text-align: center; color:red"><b><i>The user dosen't exist!</i></b></p> -->
                    </ng-template>

                    <kendo-grid-column field="username" title="Username (E-mail)" [width]="180"
                    [minResizableWidth]="100" [hidden]="ownerCheck()">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <span *ngIf="rowIndex == -1"><kendo-autocomplete [data]="autoCompleteUserNamesFilterd" [(ngModel)]="newUserPermission"
                            [placeholder]="'Enter user name..'" [filterable]="true" (filterChange)="autoCompleteHandler($event)" style="width: 200px;" 
                            [ngStyle]="userNotFound && newUserPermission!= ''?{'background-color': 'rgb(250, 186, 186)'} : {'background-color': 'white'}">
                                      </kendo-autocomplete></span>
                        <span *ngIf="rowIndex > -1">{{dataItem.username}}</span>
                    </ng-template>
                </kendo-grid-column><!--userName column-->
                


                <kendo-grid-column field="name" title="Full name" [width]="180" [minResizableWidth]="100"></kendo-grid-column><!--name column-->

                <kendo-grid-column field="Member" title="Member" [width]="70" [minResizableWidth]="50" ><!--Member column-->
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" [disabled] = "ownerCheck()">
                        <!-- new row -->
                        <span *ngIf="rowIndex == -1">
                            <input type="radio" [disabled]="newUserPermission == '' || cleanFromDuplicates()" [checked]="dataItem.permission=='Read'" name="{{newUserPermission}}" id="Read"
                            (change)="radioButtonsUpdate($event,rowIndex)" />
                        </span>
                        <!-- other rows -->
                        <span *ngIf="rowIndex > -1"><input type="radio" [checked]="dataItem.permission=='Read'" name="{{dataItem.username}}" id="Read"
                            (change)="radioButtonsUpdate($event,rowIndex)" /></span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Manager" title="Manager" [width]="70" [minResizableWidth]="50">
                    <!--write column-->
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <!-- new row -->
                        <!-- <span *ngIf="rowIndex == -1">
                            <input type="radio" [disabled]="newUserPermission == '' || cleanFromDuplicates()" [checked]="dataItem.permission=='Write'" name="{{newUserPermission}}" id="Write"
                            (change)="radioButtonsUpdate($event,rowIndex)" />
                        </span> -->
                        <!-- other rows -->
                        <!-- <span *ngIf="rowIndex > -1"><input type="radio" [checked]="dataItem.permission=='Write'" name="{{dataItem.username}}" id="Write"
                            (change)="radioButtonsUpdate($event,rowIndex)" /></span> -->
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Owner" title="Owner" [width]="70" [minResizableWidth]="50">
                    <!--owner column-->
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <!-- new row -->
                        <!-- <span *ngIf="rowIndex == -1">
                            <input type="radio" [disabled]="newUserPermission == '' || cleanFromDuplicates()" [checked]="dataItem.permission=='Owner'" name="{{newUserPermission}}" id="Owner"
                            (change)="radioButtonsUpdate($event,rowIndex)" />
                        </span> -->
                        <!-- other rows -->
                        <!-- <span *ngIf="rowIndex > -1"><input type="radio" [checked]="dataItem.permission=='Owner'" name="{{dataItem.username}}" id="Owner"
                            (change)="radioButtonsUpdate($event,rowIndex)" /></span> -->
                    </ng-template>

                </kendo-grid-column>
                <kendo-grid-command-column title="Actions" width="160"  [hidden]="ownerCheck()" >
                    <!--actions column-->
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                        <button kendoGridRemoveCommand>Remove User From List</button>
                        <button kendoGridSaveCommand
                            [disabled]="this.newUserPermissionChoose == null || newUserPermission == ''">Add</button>
                        <button kendoGridCancelCommand>Cancel</button>
                    </ng-template>
                </kendo-grid-command-column>


                
                
                    </kendo-grid>
                    
                    </div>
    
            </div>
        </jw-modal>

</div>