<div>
    <div>
        <mat-tab-group>
        <mat-tab label="My Groups:">
        </mat-tab>
        </mat-tab-group>
        
    </div>
        <div style="padding-left: 25px; margin: auto; text-align: center;">
            <table style="width: 100%; color: rgb(196, 196, 196); margin: auto; font-size: 12px;">
                <tr>
                    <td><span class="k-icon k-i-pencil"></span> Edit Group</td>
                    <td><span class="k-icon k-i-delete"></span> Delete file</td>
                    <td (click)="modalService.open('addGroupModal');"><span class="k-icon k-i-plus" style="cursor: pointer;"></span> Add new group</td>
                </tr>
            </table>
        </div>
        <!-- <div style="width: 100%; ;padding-top: 5%; text-align: left;">
            <button  (click)="modalService.open('addGroupModal');">
                <span class="k-icon k-i-plus" title="Create a new group" style="cursor: pointer;"></span> Add new group</button>
        </div> -->
        <div>
            <kendo-treeview [nodes]="data" textField="text" childrenField="items" [animate]="true">
                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                    <span class="k-icon k-i-myspace"></span><!-- ICON-->
                    <span style="margin-right: 10px;">{{dataItem.text}}</span><!-- text-->
                    <span style="margin-right: 10px; font-size: 10px;"><i>{{dataItem.GroupDescription}}</i></span><!-- description-->
                    <span style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-pencil" title="Edit group '{{dataItem.text}}'" (click)="this.openEditGroupModal(dataItem);"></span><!-- edit-->
                    <span style="margin-right: 10px; cursor: pointer;" class="k-icon k-i-delete" title="Permanently delete group '{{dataItem.text}}'" (click)="deleteGroup(dataItem);" ></span><!-- delete-->
                </ng-template>
            </kendo-treeview>

            <div *ngIf="totalGroupsNumber == 0" style="margin-top: 20%; color: rgb(196, 196, 196); width: 100%; font-size: 20px; text-align: center;"><span><i>You Don't Have Any Group.</i></span>
                <br><span style="font-size: 13px; text-align: center;">Click on add button to create one</span></div>
                
                
        </div>

<!-- add group modal-->
<jw-modal class="jw-modal" id="addGroupModal">
    <div ngDraggable [ngResizable]='true' class="jw-modal-body">
        <span class="close" (click)="closeModal_addGroup()">&times;</span>
        <div>
            <h2>Add New Group</h2>
            <div style="font-size: 13px;">Please insert group name (required. name "/" invalid), and some description (required)</div>
            <br><br>
            <form [formGroup]="addGroupCheckOut" (ngSubmit)="createGroup()">
                <div>
                    <label>Group Name: </label>
                    <input id="groupName" type="text" formControlName="groupName" placeholder="Enter group name">
                </div>  
                <div>
                    <label>Description: </label>
                    <textarea id="description" formControlName="description" rows="4" cols="50" placeholder="Add some Description"></textarea>
                </div>
                <br><br>
                <input type="submit" value="Add Group">
                <div [innerHTML]="formErrors" style="font-size: 12px; color: red;"></div>
            </form>
        </div>
    </div>
</jw-modal>

<!--Edit group-->

<jw-modal class="jw-modal" id="editGroupModal">
    <div ngDraggable [ngResizable]='true' class="jw-modal-body">
        <span class="close" (click)="closeModal_editGroup()">&times;</span>
            <span><h3>Group Users</h3></span>
        <table mat-table #permissionTable [dataSource]="this.groupsPermissionList" class="mat-elevation-z8" style="float:left;padding: 5px; margin: 5px;">          
            <!-- Position Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>

            <ng-container matColumnDef="permission">
                <th mat-header-cell *matHeaderCellDef> Permission </th>
                <td mat-cell *matCellDef="let element"> {{element.Permission}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="groupsUsersColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: groupsUsersColumns;"
                (click)="this.allUsersTableSelection.clear(); groupsUserPermissionTableSelection.toggle(row)">
            </tr>
          </table>

           <!-- menu between tables -->
           <!-- <span style="float: right; margin: 5px;"> -->
        <span style="padding: 5px; margin: 5px;">
            <mat-form-field>
                <mat-select [(value)]="selectedPermission">
                    <mat-option value="Member">Member</mat-option>
                    <mat-option value="Manager">Manager</mat-option>
                    <mat-option value="Owner">Owner</mat-option>
                </mat-select>
            </mat-form-field>

            <div style="padding: 5px; margin: 5px;" class="refBtn"><button mat-raised-button
                    [disabled]="this.allUsersTableSelection.selected.length == 0" (click)="addUsersToGroup()">Add
                    Users</button></div>
            <div style="padding: 5px; margin: 5px;" class="refBtn"><button mat-raised-button
                    [disabled]="this.groupsUserPermissionTableSelection.selected.length == 0" (click)="removeUsersFromGroup()">Remove
                    Users</button>
            </div>
        </span>
        <span><h3>All Users</h3></span>
        <table mat-table #noPermissionTable [dataSource]="this.groupsNoPermissionList" class="mat-elevation-z8" style="float:left;">          
            <!-- Position Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="allUsersColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: allUsersColumns;"
                (click)="this.groupsUserPermissionTableSelection.clear(); allUsersTableSelection.toggle(row)">
            </tr>
          </table>

          <!-- menu between tables -->
        <br>
        <br>
        <span style="padding: 10px; margin: 10px;">
            <div style="padding: 5px; margin: 5px;" class="refBtn"><button mat-raised-button
                    [disabled]="!this.isPermissionChanged" (click)="savePermissionChanges()">Save Changes</button></div>
            <div style="padding: 5px; margin: 5px;" class="refBtn"><button mat-raised-button
                     (click)="closeModal_editGroup()">Close</button>
            </div>
        </span>
         
    </div>
</jw-modal>
</div>


