<div>
        <div class="addNewLinks">
        <table >
                <tr>
                        <td><b>add new link: </b></td>
                        <td><select>
                                <option value="" selected disabled hidden>&lt;&lt; Node type &gt;&gt;</option>
                                <optgroup label="Create New Nodes:">
                                        <option *ngFor="let item of typesOfNodes | keyvalue" >{{item.key}}</option>
                                </optgroup>
                                <optgroup label="Use Current Model Nodes:">
                                        <option *ngFor="let item of this.typesOfNodes_model" >{{item.text}}</option>
                                </optgroup>
                              </select>
                        </td>
                        <td *ngIf="userShowInputTypeText_From"><input type="text" id="nameFrom" size="10" placeholder="Enter New Name"></td>
                        <td><select id="linkType">
                                <option value="" selected disabled hidden>&lt;&lt; Link type &gt;&gt;</option>
                                <optgroup label="Toolbar Links:"></optgroup>
                                <option *ngFor="let item of typesOflinks | keyvalue">{{item.key}}</option>

                              </select>
                        </td>
                        <td><select>
                                <option value="" selected disabled hidden>&lt;&lt; Node type &gt;&gt;</option>
                                <optgroup label="Create New Nodes:">
                                        <option *ngFor="let item of typesOfNodes | keyvalue" >{{item.key}}</option>
                                </optgroup>
                                <optgroup label="Use Current Model Nodes:">
                                        <option *ngFor="let item of this.typesOfNodes_model" >{{item.text}}</option>
                                </optgroup>
                              </select>
                        </td>
                        <td *ngIf="userShowInputTypeText_To"><input type="text" id="nameTo" size="10" placeholder="Enter New Name"></td>
                        <td><button type="submit">add line</button></td>
                </tr>
        </table>
</div>
<div >
        <ul class="links">
                <li *ngFor="let link of links"><p [innerHTML]="link"></p></li>
            </ul>
    </div>
</div>


