<div>
        <div class="addNewLinks">
        <table >
                <tr>
                        <td><b>add new link: </b></td>
                        <td><select (ngModelChange)="colorChanger($event,'from')" [(ngModel)] ='nodeSelected_From'>
                                <option [ngValue]="" selected disabled hidden>{{ nodeSelected_From }}</option>
                                <optgroup label="Create New Nodes:">
                                        <option *ngFor="let item of typesOfNodes | keyvalue" [ngValue]="item">{{item.key}}</option>
                                </optgroup>
                                <optgroup label="Use Current Model Nodes:">
                                        <option *ngFor="let item of this.typesOfNodes_model" [ngValue]="item">{{item.text}}</option>
                                </optgroup>
                              </select>
                              <input type="text" [(ngModel)]='name_From' *ngIf="ngIfCheck(this.nodeSelected_From)" placeholder="&lt;&lt;~ Enter New Name ~&gt;&gt;">
                        </td>
                        <td><select [(ngModel)] ='linkSelected'>
                                <option [ngValue]="" selected disabled hidden>{{ linkSelected }}</option>
                                <optgroup label="Toolbar Links:"></optgroup>
                                <option *ngFor="let item of typesOflinks | keyvalue" [ngValue]="item">{{item.key}}</option>
                                </select>
                        </td>
                        <td><select (ngModelChange)="colorChanger($event,'to')" [(ngModel)] ='nodeSelected_To'>
                                <option [ngValue]="" selected disabled hidden>{{ nodeSelected_To }}</option>
                                <optgroup label="Create New Nodes:">
                                        <option *ngFor="let item of typesOfNodes | keyvalue" [ngValue]="item">{{item.key}}</option>
                                </optgroup>
                                <optgroup label="Use Current Model Nodes:">
                                        <option *ngFor="let item of this.typesOfNodes_model" [ngValue]="item">{{item.text}}</option>
                                </optgroup>
                              </select>
                              <input type="text" [(ngModel)]='name_To'  *ngIf="ngIfCheck(this.nodeSelected_To)" placeholder="&lt;&lt;~ Enter New Name ~&gt;&gt;">
                        </td>
                        <td><button type="submit" (click)="submitAction()" [disabled]="!canSubmit()">Insert/Update Link</button></td>
                </tr>
        </table>
</div>
<div >
        <ul class="links">
                <li *ngFor="let link of links;  let i=index"><span [innerHTML]="link"></span></li> 

            </ul>
    </div>
</div>


