<div>
        <table>
                <tr>
                        <td><b>add new link: </b></td>
                        <td><input type="text" id="nameFrom" size="20" placeholder="enter name"></td>
                        <td><select id="fromOptions">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                              </select></td>
                        <td>is bla bla to</td>
                        <td><input type="text" id="nameTo" size="20" placeholder="enter name"></td>
                        <td><select id="toOptions">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="opel">Opel</option>
                                <option value="audi">Audi</option>
                              </select></td>
                </tr>
        </table>
        <ul class="links">
                <li *ngFor="let link of links"><p [innerHTML]="link"></p></li>
            </ul>
    </div>


