<div>
<mat-tab-group>
    <mat-tab label="My Maps:">
        <div class="mapsAndFolders">
            <mat-list-item *ngFor="let map of myMaps; let idx = index; last as last">
              <span mat-line><a [routerLink]="['/mapViewer', idx]">{{map.MapName}},{{idx}}</a></span>
              <mat-divider *ngIf="!last"  style="margin: 10px;"></mat-divider>
            </mat-list-item>
        </div>
        <div style="padding: 20px;">
            <span>Search Folder/Map : </span> <span><input [(ngModel)]="searchTerm" #category (keyup)='onkeyup(category.value)' placeholder="Folder/Map Name" /></span>
            <button (click)="submitModal()">play</button>
            <button (click)="addNewFolder()">openModal</button>
        </div>
            <div>
                <!-- (selectionChange)="handleSelection($event)" -->
            <kendo-treeview [nodes]="parsedData" textField="text" kendoTreeViewExpandable kendoTreeViewHierarchyBinding childrenField="items" 
            [children]="children"
            [hasChildren]="hasChildren"
            [animate]="false"
            [expandBy]="'text'"
            [(expandedKeys)]="expandedKeys"
            (collapse)="handleCollapse($event)"
            (expand)="handleExpand($event)">
            <ng-template kendoTreeViewNodeTemplate let-dataItem>
                <span [ngClass]="iconClass(dataItem)" (click)="getDataIfExpanded(dataItem)"></span>{{dataItem.text}}
                <span>
                <button style="margin-left: 5px;" *ngIf="dataItem.isFolder" (click)="handleSelectionButton(dataItem)">+ Map</button>
                <button style="margin-left: 5px;" *ngIf="dataItem.isFolder" (click)="handleSelectionButton(dataItem)">+ Folder</button>
                </span>
            </ng-template>
        </kendo-treeview>
        </div>

        <div class="example-config">
            Selected keys: {{selectedFolder}}
        </div>
    </mat-tab>
    <mat-tab label="Maps Shared With Me:">
        coming soon! :)
    </mat-tab>
  </mat-tab-group>

<h2>Add New Folder</h2>
<form [formGroup]="addFolderCheckOut" (ngSubmit)="onSubmit_AddFolder(addFolderCheckOut.value)">    <!-- required pattern="[a-zA-Z ]*"> -->
    <div>
        <label>Folder Name: </label>
        <input id="folderName" type="text" formControlName="folderName" placeholder="Enter folder name">
    </div>  
    <div>
    <label>Description: </label>
    <input id="description" type="text" formControlName="description" placeholder="Add some Description">
    </div>
    <input type="submit" value="Add Folder">
   
</form>

<h2>Add New Map</h2>
<form [formGroup]="addFolderCheckOut" (ngSubmit)="onSubmit_AddFolder(addFolderCheckOut.value)">    <!-- required pattern="[a-zA-Z ]*"> -->
    <div>
        <label>Folder Name: </label>
        <input id="folderName" type="text" formControlName="folderName" placeholder="Enter folder name">
    </div>  
    <div>
    <label>Description: </label>
    <input id="description" type="text" formControlName="description" placeholder="Add some Description">
    </div>
    <input type="submit" value="Add Folder">
   
</form>


</div>
