.mapsAndFolders{
    padding: 20px;
}
span {
    /* cursor: pointer; */
    position: relative;

}
span:hover {
left: .1em;

}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
    
}

a:active {
    color: black;
    text-decoration: underline;
}
.manageButtons{
    padding: 20px;

}
  .mat-raised-button{
    margin: 1px 2px;
}

  