/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }
 

/* loading overlay css */
.grid-wrapper {
    position: relative;
  }
    .k-i-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 64px;
      background-color: rgba(255,255,255,.3);
      color: #1d71a8;
    }
