
.container_login_register{
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 1%;
    padding: 1%;
    height: 100%;
    text-align: center;
}
/* 
.loginBox{
    display:inline;
}

} */
.registerBox{
    text-align: left;
}




.container_login_register > div {
    display: inline-block;
    vertical-align: middle;
}