<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Shadows+Into+Light" />
    <div class="loginBox" style="text-align: center;">
        <p style="font-family: 'Shadows Into Light'; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 900; line-height: 26.4px;">ME-Mapper</p>
    <p style="background-color: #f0f0f0;  padding: 1%;  font-size: 18px; border-radius: 8px; width: 70%; margin: auto; -webkit-box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);">
        Mean-Ends Maps (ME-Maps), which focuses on know-how-explicating of how to efficiently perform tasks and solve problems.<br>
        The graphical representation of the ME-maps allows for a concise view on the one hand,
        <br> while still maintaining the required details to analyze the knowledge on the other.
        Moreover, the new representation allows for new searching techniques In this web application<br>
        we allows a management of ME-maps by means of creation,<br>
            collaborative work, searching capabilities, dual representation, and resource management.

</p>
    </div>
    <div>
        <br><br>
        <h1 style="text-align: center;">Create new user</h1>
        <app-register></app-register>
    </div>
    <div>
        <p style="font-size: small;text-align: center;">&#169; BGU University 2020</p>
    </div>

