<div class="homePage">
  <div style="text-align: center;">
    <h1>Your Management Page</h1>
  </div>
  <!-- <div class="welcome">
    
    
    <span style="width: 50%; display: inline-block;text-align: right; vertical-align:top; padding-top: 15px;">
      <input type="text" placeholder="Enter Name For Search..." [(ngModel)]="inputTextSearch" size="30">
      <input type="submit" value="Go!">
    </span>
  </div> -->

  <div class="containerMaps_Groups">
    <div @fade class="mapsFoldersView">
      <app-mapsfolders-viewer *ngIf = "allUsersList" [autoCompleteUserNames] = "allUsersList" #folders_child></app-mapsfolders-viewer>
    </div>
    <div @fade class = "groups">
        <app-groups *ngIf = "allUsersList" [autoCompleteUserNames] = "allUsersList" #groups_child></app-groups>
    </div>
  </div>
</div>