#welcomeAndMenu {
    background-color: #E9EAED
}

@media print {
    .doNotPrint {
        display: none !important;
    }
    .welcome {
        background-color: rgb(251, 252, 255);
        border-radius: 15px;
        padding: 10px;
        max-width: 50%;
        margin: auto;
        box-shadow: 5px 10px 5px -200px rgba(0, 0, 0, 0.75);
    }
}

.welcome {
    /* float: ce; */
    /* text-align: left; */
    background-color: rgb(251, 252, 255);
    border-radius: 15px;
    padding: 10px;
    max-width: 50%;
    margin: auto;
    box-shadow: -9px -12px 48px -21px rgba(0, 0, 0, 0.57);
    /* box-shadow: 0px 1px 20px 2px rgba(145, 145, 145, 0.41); */
    /* box-shadow: 4px 6px 16px -1px rgba(0, 0, 0, 0.75); */
}

/* .mat-slide-toggle {
    color: royalblue;
} */

.primary {
    color: red;
}

.mapsMenu {
    float: left;
    margin: 5px;
}

.mapsMenu span {
    font-size: 25px;
}

/* Diagram and palette area */

body {
    padding-top: 90px;
    margin: 0.5%;
    padding-bottom: 30px;
}

#description {
    float: left;
    margin-left: 4px;
}

#PaletteAndDiagram {
    /* position: relative; */
    overflow: hidden;
    width: 100%;
}

#block_container {
    /* display: flex; */
    /* background-color: #073852; */
    display: flex;
}

#myPalette {
    width: 150px;
    background-color: #e6f5ff;
    min-height: 450px;
    /* Just so it's visible */
}

#myDiagram {
    min-height: 450px;
    /* Grow to rest of container */
    /* Just so it's visible */
    flex: 70%;
    /* float: left; */
    border-left: none;
    /* width: 90%;
  height: 758px; */
    background-color: white;
    /*border-bottom: 1px solid black;*/
    border-left: 1px solid black;
    /* display:inline; */
}

#rightSideUnknownForFutureUse {
    background-color: #e6f5ff;
    /* Grow to rest of container */
    /* Just so it's visible */
    flex: 10%;
    /* float: left; */
    border-left: none;
    /*border-bottom: 1px solid black;*/
    border-left: 1px solid black;
    /* display:inline; */
}

#myOverview {
    width: 100%;
    height: 160px;
    border-top: 1px solid gray;
    float: right;
}

.titleArea {
    /* background-color: lightgray; */
    text-align: center;
    font: bold 16px sans-serif;
}

#myOverview {
    background-color: lightgray;
}

#usavedError {
    color: red;
    /* width: 100%; */
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
}

.jw-modal {
    display: none;
    position: fixed;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    z-index: 9998!important;
    line-height: 10pt;
}

.jw-modal-body {
    text-align: center;
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: max-content;
    width: max-content;
    height: 100%;
    font-family: 'Calibri', sans-seif;
    border-radius: 25px;
    line-height: 10pt;
    overflow: auto;
}

.close {
    line-height: 10pt;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}