#body {
    background-color: #E9EAED
}

@media print {
    .doNotPrint {
        display: none !important;
    }
    .welcome {
        background-color: rgb(251, 252, 255);
        border-radius: 15px;
        padding: 10px;
        max-width: 50%;
        margin: auto;
        box-shadow: 5px 10px 5px -200px rgba(0, 0, 0, 0.75) !important;
    }
    #myDiagram {
        height: 700px;
        width: 200px;
        min-height: 700px;
    }
}

.welcome {
    background-color: rgb(251, 252, 255);
    border-radius: 15px;
    padding: 10px;
    max-width: 50%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: -9px -12px 48px -21px rgba(0, 0, 0, 0.57);
}

/* .mat-slide-toggle {
    color: royalblue;
} */

.primary {
    color: red;
}

#usavedError {
    color: green;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Diagram and palette area */

body {
    padding-top: 90px;
    margin: 0.5%;
    padding-bottom: 30px;
}

#description {
    float: left;
    margin-left: 4px;
}

#block_container {
    /* display: flex; */
    /* background-color: #073852; */
    display: flex;
    height: 700px;
}

#sideBar {
    background-color: lightgray;
}

#myPalette {
    /* width: 150px; */
    background-color: #e6f5ff;
    min-height: 45%;
    min-width: 150px;
    /* Just so it's visible */
}

#elementsStatistics {
    max-height: 200px;
    width: 200px;
    overflow-y: auto;
    overflow-x: auto;
    /* overflow-x: auto; */
}

#linksTypesCard {
    display: flex;
    flex-flow: row wrap;
    margin: 2%;
}

#myDiagram {
    min-height: 450px;
    height: 100%;
    flex: 70%;
    border-left: none;
    background-color: white;
    border-left: 1px solid black;
}

#myOverview {
    width: 100%;
    height: 160px;
    border-top: 1px solid gray;
    float: right;
}

.titleArea {
    background-color: lightgray;
    text-align: center;
    font: bold 16px sans-serif;
}

#myOverview {
    background-color: lightgray;
}

.jw-modal {
    display: none;
    position: fixed;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    z-index: 9998!important;
    line-height: 10pt;
}

.jw-modal-body {
    text-align: center;
    background-color: #fefefe;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: max-content;
    width: max-content;
    height: 100%;
    font-family: 'Calibri', sans-seif;
    border-radius: 25px;
    line-height: 10pt;
    overflow: auto;
}

.close {
    line-height: 10pt;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}