<div id="mapMenu">
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="menu-spacer"></span>
            <div style="margin: auto; text-align: center;position: relative;" (click)="updateConverterACtivate()">
                <button class="mapsMenu" title="New Map" mat-raised-button (click)="newMap()"> New </button>
                <button class="mapsMenu" title="Open" mat-raised-button [routerLink]="'/login'"> Open </button>
                <button class="mapsMenu" title="Save As" mat-raised-button (click)="openModal('save-as-modal')"> Save As
                </button>
                <button class="mapsMenu" title="Save Changes" mat-raised-button (click)="save()"> Save </button>
                <button class="mapsMenu" title="Print" mat-raised-button> Print </button>
                <button class="mapsMenu" title="Cut (Ctrl + x)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.cutSelection()"> Cut </button>
                <button class="mapsMenu" title="Copy (Ctrl + c)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.copySelection()"> Copy </button>
                <button class="mapsMenu" title="Paste (Ctrl + v)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.pasteSelection()"> Paste </button>
                <button class="mapsMenu" title="Undo (Ctrl + z)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.undo()"> Undo </button>
                <button class="mapsMenu" title="Redo (Ctrl + y)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.redo()"> Redo </button>
                <button class="mapsMenu" title="Zoom In (Ctrl + +)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.increaseZoom(1.1)"> Zoom In </button>
                <button class="mapsMenu" title="Zoom Out (Ctrl + -)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.decreaseZoom(0.9)"> Zoom Out </button>
                <button class="mapsMenu" title="Reset Zoom (Ctrl + 0)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.resetZoom()"> Reset </button>
                <button mat-raised-button [matMenuTriggerFor]="moreOptions"> More </button>
                <!-- <span class="mapsMenu"><a mat-menu-item [matMenuTriggerFor]="moreOptions"> more </a></span> -->

                <mat-menu #moreOptions="matMenu">
                    <button class="mapsMenu" mat-menu-item [matMenuTriggerFor]="Export">Export</button>
                    <button mat-button (click)="openModal('import-modal')">Import</button><br>
                </mat-menu>

                <mat-menu #Export="matMenu">
                    <button mat-button (click)="saveAsImg('image/png', '.png')">PNG Image</button><br>
                    <button mat-button (click)="saveAsImg('image/jpeg', '.jpg')">JPEG Image</button><br>
                    <button mat-button (click)="saveAsJSON('', '.json')">JSON File</button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<!-- save map as modal -->
<jw-modal class="jw-modal" id="save-as-modal">
    <div class="jw-modal-body">
        <span class="close" (click)="closeModal('save-as-modal')">&times;</span>
        <h1>Save your map as:</h1>
        <app-save-as-map></app-save-as-map>
    </div>
</jw-modal>

<!-- import map modal -->
<jw-modal class="jw-modal" id="import-modal">
    <div class="jw-modal-body">
        <span class="close" (click)="closeModal('import-modal')">&times;</span>
        <h1>Import Map From:</h1>
        <input type="file" (change)="importMap($event.target.files, 'import-modal')">
        <!-- <button (click)="importMap($event.target.files)">Import</button> -->
    </div>
</jw-modal>

<!-- references modal -->
<jw-modal class="jw-modal" id="nodeMenuModal">
    <div ngDraggable [ngResizable]='true' class="jw-modal-body" (change)="saveChanges()">
        <span class="close" (click)="closeMenuModal('nodeMenuModal')">&times;</span>
        <app-node-menu-modal></app-node-menu-modal>
    </div>
</jw-modal>


<!-- create new ref modal -->
<jw-modal class="jw-modal" id="newRefModal">
    <div ngDraggable [ngResizable]='true' class="jw-modal-body">
        <span class="close" (click)="closeNewRefModal('newRefModal')">&times;</span>
        <div class="new-ref-modal-form">
            <form [formGroup]="newRefForm" (ngSubmit)="addNewRef()">
                <h1>Create New Reference</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Authors</mat-label>
                    <input matInput formControlName="authors">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Publication
                    </mat-label>
                    <input matInput formControlName="publication">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Link
                    </mat-label>
                    <input matInput formControlName="link">
                </mat-form-field>
                <br>
                <button type="submit" mat-raised-button>Add</button>
            </form>
        </div>
    </div>
</jw-modal>




<!-- <app-save-as-map [hidden]='!toSave'></app-save-as-map> -->

<!-- <div id="myPalette" style="border: solid"></div> -->
<!-- <div id="PaletteAndDiagram" style="width: 77%; height: 70%; float:left;">
    <div id="sideBar">
    </div> -->
<div id="block_container">
    <div id="sideBar">
        <div class="titleArea">Map Shapes</div>
        <div id="myPalette"></div>
    </div>
    <div id="myDiagram"></div>
    <div id="rightSideUnknownForFutureUse">
        <div class="handle">Overview</div>
        <div id="myOverview"></div>

    </div>
</div>
<div id="textConverter">
    <app-text-map-converter [doUpade]=updateConverter></app-text-map-converter>

</div>

<!-- </div> -->
<!-- 
<div id="PaletteAndDiagram" style="width: 77%; height: 70%; float:left;">
    <div id="sideBar">
        <div class="handle" style="border: solid">Map Shapes</div>
        <div id="myPalette" style="border: solid"></div>
        <div class="handle" style="border: solid">Overview</div>
        <div id="myOverview" style="border: solid"></div>
    </div>
    <div id="mainBar"> -->
<!-- <div id="myDiagram">sdsdfsdfsdfsdf</div>
     </div> 
</div>  -->