<div id="welcomeAndMenu">
    <br>
    <div class="welcome">
        <span style="font-size: 25px; width: 100%; display: inline-block; text-align: center; margin-bottom: 10px;">
            <b>{{this.mapHandler.currMap_mapViewer.MapName}}</b>
            <br>
        </span>
        <span style="font-size: 18px; width: 100%; display: inline-block; text-align: center; margin-bottom: 10px;">
            {{this.mapHandler.currMap_mapViewer.Description}}
        </span>
        <span style="font-size: 15px; width: 50%; display: inline-block;  text-align: left;">
            <span class="k-icon  k-i-calendar" style="font-size: 15px"></span>
            {{getMapCreationTime()}}
        </span>
        <span style="font-size: 15px; width: 50%; display: inline-block;  text-align: right;">
            <span class="k-icon k-i-lock" style="font-size: 15px"></span>
            {{getUserPermission()}}
        </span>
    </div>

    <!-- <div id="mapMenu" style="float: left;"> -->
    <mat-toolbar style="background-color: inherit; ">
        <mat-toolbar-row>
            <div style="margin: auto; text-align: center; width: 100%; ">
                <mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="subscribeCurrMap"
                    (change)="subscribe()" [disabled]="disabled" #toggle>
                    Subscribe</mat-slide-toggle>
                <button class="mapsMenu" matTooltip="Save As" mat-raised-button (click)="openModal('save-as-modal')"
                    [disabled]="mapHandler.getUserPermission() &lt; 2">
                    <!-- <span class="k-icon  k-i-save" style="width: min-content; font-size: 20px;"></span> -->
                    Save As
                </button>
                <button class="mapsMenu" matTooltip="Save Changes" mat-raised-button (click)="save()"
                    [disabled]="mapHandler.getUserPermission() &lt; 2"> Save </button>
                <button class="mapsMenu" matTooltip="Print" mat-raised-button (click)="printOption()"> Print
                </button>
                <button class="mapsMenu" matTooltip="New Map" mat-raised-button (click)="newMap()"> Clear Map
                </button>
                <button class="mapsMenu" matTooltip="Cut (Ctrl + x)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.cutSelection()"> Cut </button>
                <button class="mapsMenu" matTooltip="Copy (Ctrl + c)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.copySelection()"> Copy </button>
                <button class="mapsMenu" matTooltip="Paste (Ctrl + v)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.pasteSelection()"> Paste </button>
                <button class="mapsMenu" matTooltip="Undo (Ctrl + z)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.undo()"> Undo </button>
                <button class="mapsMenu" matTooltip="Redo (Ctrl + y)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.redo()"> Redo </button>
                <button class="mapsMenu" matTooltip="Zoom In (Ctrl + +)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.increaseZoom(1.1)"> Zoom In </button>
                <button class="mapsMenu" matTooltip="Zoom Out (Ctrl + -)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.decreaseZoom(0.9)"> Zoom Out </button>
                <button class="mapsMenu" matTooltip="Reset Zoom (Ctrl + 0)" mat-raised-button
                    (click)="this.mapHandler.myDiagram.commandHandler.resetZoom()"> Reset Zoom </button>
                <button class="mapsMenu" mat-raised-button [matMenuTriggerFor]="moreOptions"> More </button>

                <mat-menu #moreOptions="matMenu">
                    <button class="mapsMenu" mat-menu-item [matMenuTriggerFor]="Export">Export</button>
                    <button mat-button (click)="openModal('import-modal')"
                        [disabled]="mapHandler.getUserPermission() &lt; 2">Import</button><br>
                </mat-menu>

                <mat-menu #Export="matMenu">
                    <button mat-button (click)="saveAsImg('image/png', '.png')">PNG Image</button><br>
                    <button mat-button (click)="saveAsImg('image/jpeg', '.jpg')">JPEG Image</button><br>
                    <button mat-button (click)="saveAsJSON('', '.json')">JSON File</button>
                </mat-menu>
            </div>
            <br>
        </mat-toolbar-row>
    </mat-toolbar>
    <div *ngIf='!isSaved'>There are changes that hasen't saved</div>
    <!-- </div> -->
</div>
<!-- diagram, sidde bar, overviwe and converter -->
<div id="block_container">
    <div id="sideBar">
        <div class="titleArea">Map Shapes</div>
        <div [hidden]="mapHandler.getUserPermission() &lt; 2" id="myPalette"></div>
    </div>
    <div id="myDiagram"></div>
    <!-- <div id="rightSideUnknownForFutureUse">
        <div class="handle">Overview</div>
        <div id="myOverview"></div>

    </div> -->
</div>
<div>
    <span id="textConverter" style='float: left; width: 70%;'>
        <app-text-map-converter [doUpade]=updateConverter></app-text-map-converter>
    </span>
    <span style='float: left; width: 30%; height: inherit;'>
        <div class="handle">Overview</div>
        <div id="myOverview"></div>
    </span>
</div>
<!-- save map as modal -->
<jw-modal class="jw-modal" id="save-as-modal">
    <div class="jw-modal-body">
        <span class="close" (click)="closeModal('save-as-modal')">&times;</span>
        <h1>Save your map as:</h1>
        <app-save-as-map></app-save-as-map>
    </div>
</jw-modal>

<!-- import map modal -->
<jw-modal class="jw-modal" id="import-modal">
    <div class="jw-modal-body">
        <span class="close" (click)="closeModal('import-modal')">&times;</span>
        <h1>Import Map From:</h1>
        <input type="file" (change)="importMap($event.target.files, 'import-modal')">
        <!-- <button (click)="importMap($event.target.files)">Import</button> -->
    </div>
</jw-modal>

<!-- references modal -->
<jw-modal class="jw-modal" id="nodeMenuModal">
    <div ngDraggable class="jw-modal-body">
        <span class="close" (click)="closeMenuModal('nodeMenuModal')">&times;</span>
        <app-node-menu-modal (reInit)="initNewMap()" (change)="saveChanges()"></app-node-menu-modal>
    </div>
</jw-modal>